/* Ana Belen Rodriguez Berriel / N° de estudiante: 373879 -  Iván De León Lino / N° de estudiante: 330339 */
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-left: 80px;
}

h1 {
  background-color: gray;
  margin-bottom: 40px;
  padding: 15px 0;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

h4 {
    margin-bottom: 15px;
}

article {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 35px 20px 20px;
  border-radius: 5px;
}

button {
  background-color: #0ea5b7;
  color: white;
  border: 0;
  border-radius: 8px;
  padding: 12px 22px;
  margin: 3px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.datos-btn {
    padding: 10px 40px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
td,
th {
  padding: 4px 4px 5px;
}

th {
    font-weight: bold;
}
table button {
  width: 100%;
  height: 100%;
  padding: 13px 24px;
  margin: 0;
}
table {
  margin-bottom: 10px;
}
label {
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-size: 14px;  
}
.datos-influencer-btn {
  padding: 7px 30px;
  margin: 0;
}
span {
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.2px;
}

.tabla-articulos button {
    padding: 13px 45px;
}

select, option {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rebeccapurple;
}

.footer-span {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 5px;
}