/* Ana Belen Rodriguez Berriel / N° de estudiante: 373879 - Iván De León Lino / N° de estudiante: 330339 */

/* 1 rem = 10px */
/* Utilizamos la metodologia BEM para trabajar de forma mas agil */

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding-left: 8rem;
}

.hero__title {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  padding: 1.5rem 0;
  background-color: #808080;
}

.influencers__title,
.articles__title,
.sales__title {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.influencers__subtitle,
.articles__subtitle,
.sales__subtitle {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.influencers__subsubtitle,
.articles__subsubtitle,
.sales__subsubtitle {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

.influencers__subsubtitle--featured {
  font-size: 1.5rem;
}

.influencers__card,
.articles__card,
.sales__card,
.sales__chart-card {
  margin-bottom: 2rem;
  padding: 3.5rem 2rem 2rem;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
}

.button {
  margin: 0.3rem;
  padding: 1.2rem 2.2rem;
  border: 0;
  border-radius: 0.8rem;
  background-color: #0ea5b7;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.influencers__table,
.articles__table,
.sales__table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.influencers__table-header,
.articles__table-header,
.sales__table-header,
.influencers__table-cell,
.articles__table-cell,
.sales__table-cell {
  padding: 0.4rem 0.4rem 0.5rem;
  border: 0.1rem solid #000000;
  font-size: 1.4rem;
}

.influencers__table-cell,
.articles__table-cell,
.sales__table-cell {
  padding: 0.2rem 0.2rem 0.5rem;
}

.influencers__table-header,
.articles__table-header,
.sales__table-header {
  font-weight: bold;
}

.influencers__table-button,
.articles__table-button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1.3rem 2.4rem;
}

.influencers__label,
.articles__label,
.sales__label {
  margin-right: 3rem;
  font-size: 1.4rem;
}

.sales__article-number {
  margin-right: 5rem;
  font-size: 1.4rem;
}

.influencers__information,
.articles__information {
  font-size: 1.32rem;
}

.footer__linkedin {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.footer__link {
  color: #663399;
  text-decoration: none;
}

.influencers__dialog,
.articles__dialog,
.sales__dialog {
  position: fixed;
  margin: auto;
  padding: 2.5rem;
  border-radius: 0.8rem;
}

/* Utilizamos el pseudoelemento backdrop, para oscurecer el fondo, cuando aparece el <dialog> */

.influencers__dialog::backdrop,
.articles__dialog::backdrop,
.sales__dialog::backdrop {
  background-color: #00000073;
}

.influencers__modal-card,
.articles__modal-card,
.sales__modal-card {
  margin: 0;
  padding: 0;
}

.influencers__sales-detail-btn,
.sales__delete-btn {
  padding: 1.3rem 2.2rem;
}

.sales__chart-card {
  min-height: 14rem;
}

/* display: flex, para acomodar de forma mas sencilla el grafico de burbuja y que no se desalineen cuando uno crezca mas que el resto */

.sales__bubble-chart {
  display: flex;
  align-items: end;
  gap: 2.5rem;
  min-height: 11rem;
  padding-top: 2rem;
}

.sales__bubble-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 8rem;
  font-size: 1.3rem;
}

.sales__bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
}

.sales__bubble--instagram {
  background-color: #dc143c;
}

.sales__bubble--youtube {
  background-color: #4169e1;
}

.sales__bubble--x {
  background-color: #008000;
}

.sales__bubble--tiktok {
  background-color: #ffa500;
}

.sales__bubble--facebook {
  background-color: #800080;
}

.sales__bubble--otras {
  background-color: #a52a2a;
}